name: WorkflownameCI

on:
  push:
    branches:
      - 'master'
      - 'dev'

jobs:
  build:
    name: 'Build and push'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22,23,24]

    steps:
      - uses: actions/checkout@v6

      - name: Setup node | ${{matrix.node}}
        uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node}}
          cache: 'yarn'
      - run: yarn
      - run: yarn run test